body {
      font-family: "PT Sans", bold;
      font-size: 18px;
      line-height: 20px;
      color: #000000;
      width: 940px;
      padding: 0px;
      margin: 0px;
      background-color: gray;
}
.clearfix:after {
      content: "";
      display: table;
      clear: both;
}
figure, p {
      margin: 0;
      padding: 0;
}
.header-contact-shortinfo {
      font-family: "Cuprum";
      font-style: italic;
      font-size: 16px;
      line-height: 23px;
      color: #ee3643;
}
.main-section-filtr-vendors {
      font-family: "PT Sans", Regular;
      font-size: 15px;
      line-height: 20px;
      color: #000000;
}


.block-in {
      display: inline-block;
}
.status-buy {
      background-color: #293449;
      display: inline-block;
      width: 940px;
      height: 42px;
}
.header-contact {
      background-color: #f1f5f7;
      display: block;
      width: 940px;
      height: 158px;
}
.main-header-navigation {
      background-image: url("img\technomart_logotype_big_LG.png") repeat;
      background-color: #32425c;
      display: inline-block;
      width: 940px;
      height: 60px;
}
.main-header-navigation-li {

      outline: 1px dashed #cccccc;
      float: left;
      padding-right: 20px;
      list-style-type: none;
}
.main-header-navigation-li a {
      font-family: "Cuprum";
      font-weight: Regular;
      font-size: 17px;
      line-height: 17px;
      color:#ffffff;
      text-decoration: none;
      color:#ffffff;

}
.status-buy-logo {
      font-family: "Cuprum";
      font-weight: Regular;
      font-size: 24px;
      line-height: 24px;
      color:#ffffff;
      text-transform: uppercase;
      float: left;
      padding-top: 11px;
      padding-left: 55px;
      padding-right: 55px;
      padding-bottom: 10px;
      background-color: #ee3643;

}
.status-buy-main a{
      color: #ffffff;
      text-decoration: none;
}
.status-buy-main {
      font-family: "Cuprum";
      font-weight: Regular;
      font-size: 17px;
      line-height: 18px;
      color:#ffffff;
      float: right;
}
/*     Координаты объектов первого блока header    */
.place1 {
      padding-left: 11px;
      padding-top: 11px;
      padding-right: 15px;
      float: left;


}
.place2 {
      padding-right: 196px;
      padding-top: 10px;
      float: left;

}
.place3 {
      padding-right: 10px;

      margin-top: 11px;
      float: left;

}
.place4 {
      padding-right: 43px;
      padding-top: 10px;
      float: left;

}
.place5 {
      padding-right: 16px;
      padding-top: 10px;

      float: left;


}
.place6 {
      padding-right: 30px;
      padding-top: 10px;
      float: left;

}
.place7 {
      background-color: #63a63e;

      padding: 12px 28px 12px 28px;

}
.header-contact-info {
      font-family: "Cuprum" Italic;
      font-size: 16px;
      line-height: 23px;
      color:#ee3643;
      display:inline-block;
      width: 200px;
      float: left;
      width: 320px;
      height: 153px;
}
.header-contact-info p{
      padding-top: 20px;
      padding-left: 52px;

}
.main {
      display: block;
      width: 940px;
      height: 2534px;
      margin: 0;
      padding: 0;
      background-color: #ffffff;

}

.main-section {
      outline: 1px dashed red;
      width: 940px;
      height: 520px;
      padding-top: 58px;
}
.main-section-material {
      background-color: #f6b22d;
      width: 300px;
      height: 123px;
      float: left;
}
.main-section-tool {
      background-color: #4aafde;
      width: 300px;
      height: 123px;
}
.main-section-technic {
      background-color: #cc79d1;
      width: 300px;
      height: 123px;
}
.main-section-perforator {
      background-image: url("../img/technomart_slider_man.jpg");
      width: 620px;
      height: 266px;
}
.main-section-sale {
      background-color: #85d179;
      width: 300px;
      height: 123px;
}
.main-section-transfer {
      background-color: #f6b22d;
      width: 300px;
      height: 123px;
}
.header-contact-phone {
      border: 3px solid #ffffff;
      width: 269px;
      height: 45px;
      margin-top: 46px;
      float: left;

}
.header-contact-phone .main-header-icon {
      padding: 13px 0px 0px 12px;;
      float: left;
}
.header-contact-phone p {
      float: left;
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 11px;
      padding-left: 35px;
      font-family: "Cuprum" Regular;
      font-size: 21px;
      line-height: 18px;
      color:#e9292a;

}
.main-header-address p {
      float: left;
      margin: 0px;
}
.main-header-registration p {

      font-family: "Cuprum" Regular;
      font-size: 21px;
      line-height: 18px;
      color:#000000;
      padding-top: 18px;
      padding-left: 20px;
}
.main-header-registration {
      float: right;
      width: 150px;
      height: 51px;
      background-color: #ffffff;
      margin-top: 46px;


}
.main-header-tube {
      float: left;
      background-color: #ffffff;
      margin-top: 46px;
      width: 120px;
      height: 51px;
      margin-left: 70px;
}
.main-header-tube .main-header-tube1 {
      padding-top: 18px;
      padding-left: 14px;
}

.main-header-tube p {
      font-family: "Cuprum" Regular;
      font-size: 21px;
      line-height: 18px;
      color:#000000;


}
.header-contact-button {
      width: 640px;
      height: 145px;
      float: left;
      padding-top: 10px;
}
.main-section h3 {
      font-family: "Cuprum" Regular;
      font-size: 17px;
      line-height: 17px;
      color:#ffffff;
}
.main-section a {
      font-weight: normal;
      font-family: "Cuprum" Regular;
      font-size: 14px;
      line-height: 18px;
      color: red;
      text-decoration: none;
      list-style-type: none;
      width: 136px;
      height: 40px;
      outline: 1px solid blue;
      border-radius: 3px;
      text-align: center;
}
.main-section-materia {
      float: left;
}
.main-section-tool {
      float: left;
}
.main-section-technic {
      float: right;
}
.main-section-perforator {
      float: left;
}
.main-section-sale {
      float: right;
}
.main-section-material h3 {
      float: left;
}
.main-section-transfer {
      float: right;
}
.main-section-material .tool {
      float: right;
      padding: 26px 42px 20px 50px;
}
.main-section-material .btn {
      background-color: #dda028;
      text-align: center;
      float: left;
      outline: 1px solid yellow;
}
.main-products-title,
.main-vendors-brands {
      background-color: #f7f3ec;
      width: 940px;
      height: 89px;
      float: left;
}
.main-products-title p,
.main-vendors-brands p {

      font-weight: normal;
      font-family: "Cuprum" Regular;
      font-size: 30px;
      line-height: 30px;
      color: #32425c;
      text-transform: uppercase;
      padding-top: 33px;
      padding-left: 30px;
      padding-bottom: 33px;
      float: left;
}
.main-products-title .main-products-title-all,
.main-vendors-brands .main-products-title-all, {
      float: right;
      list-style-type: none;
      text-decoration: none;
      color: #ffffff;
      background-color: #ee3643;
      width: 253px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      font-weight: normal;
      font-family: "Cuprum" Regular;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      border-radius: 2px;
      margin: 25px 22px 0 0;
}
.main-products .font1,
.main-products .font2 {
      font-weight: bold;
      font-family: "PT Sans";
      font-size: 18px;
      line-height: 20px;
}
.main-products .font3 {
      font-weight: bold;
      font-family: "PT Sans";
      font-size: 17px;
      line-height: 18px;
      text-decoration: line-through;
      color: #999999;
}
.main-products .font4 {
      font-weight: bold;
      font-family: "PT Sans";
      font-size: 17px;
      line-height: 18px;
      color: blue;
}
.main-products-container {
      border: 1px solid #e5e5e5;
      width: 220px;
      height: 318px;
      float: left;
}
.main-products-container-last {
      border: 1px solid #e5e5e5;
      width: 220px;
      height: 318px;
      float: right;
}

.main-vendors-name {
      float: left;
      width: 220px;
      height: 144px;
      outline: 1px solid #e7e7e7;
      position: relative;
      margin-right: 20px;
      margin-top: 20px;
}
.main-vendors-name img,
.main-vendors-name-last img {
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;

}
.main-vendors-name-last {
      float: right;
      width: 220px;
      height: 144px;
      outline: 1px solid #e7e7e7;
      position: relative;
      margin-top: 20px;

}
.main-service {
      background-color: #f2f6f8;
      width: 940px;
      height: 521px;
      float: left;
      margin-top: 85px;
}
.main-service-block1 {
      float: left;
      width: 940px;
      outline: 1px dashed red;


}
.main-service-title {
      font-weight: regular;
      font-family: "Cuprum";
      font-size: 30px;
      line-height: 24px;
      color: #000000;
      float: left;
      width: 940px;
      padding-top: 66px;
      padding-bottom: 34px;
      text-transform: uppercase;
}
.main-service-content {
      font-weight: regular;
      font-family: "PT Sans";
      font-size: 13px;
      line-height: 24px;
      color: #000000;
      float: left;
      width: 940px;
      outline: 1px dashed green;
      padding-bottom: 74px;
}
.main-service p {

}
.main-service-block2 ul{
      list-style-type: none;
      font-weight: bold;
      font-family: "Cuprum";
      font-size: 21px;
      line-height: 30px;
      color: #000000;
}
.main-service-block2 {
      width: 240px;
      height: 182px;
      float: left;
      outline: 1px dashed blue;
}
.main-service-block3 {
      float: left;
      height: 151px;
      width: 290px;
      padding-left: 80px;
}
.position-for-track {
      position: relative;
}
.main-service-block4 {
      float: right;
      position: absolute;
      left: 470px;
      top: 250px;

}
.main-service-block3-font1 {
      font-weight: bold;
      font-family: "Cuprum";
      font-size: 21px;
      line-height: 30px;
      color: #32425c;
      text-transform: uppercase;
      padding-bottom: 33px;
}
.main-service-block3-font2,
.main-service-block3-font3{
      font-weight: bold;
      font-family: "Cuprum";
      font-size: 13px;
      line-height: 24px;
      color: #000000;
}
.main-service-block3-font3 {
      width: 200px;
}
.main-shortinfo {
      float: left;
      outline: 2px dashed yellow;
      width: 940px;
      height: 370px;
}
.main-shortinfo-company {
      float: left;
      width: 540px;
      height: 370px;
      outline: 1px dashed blue;

}
.main-shortinfo-company-font1,
.main-shortinfo-contacts-font1 {
      font-weight: regilar;
      font-family: "Cuprum";
      font-size: 30px;
      color: #000000;
      text-transform: uppercase;
      float: left;
}
.main-shortinfo-company-font2,
.main-shortinfo-contacts-font2 {
      font-weight: regilar;
      font-family: "PT Sans";
      font-size: 13px;
      line-height: 24px;
      color: #000000;
      float: left;
}
.main-shortinfo-company ul {
      float: left;
      width: 300px;
      height: 97px;
      outline: 1px dotted blue;
      margin: 0;
      padding-bottom: 36px;
      font-weight: regilar;
      font-family: "Cuprum";
      font-size: 18px;
      line-height: 20px;
      color: #000000;
}
.main-shortinfo-contacts {
      float: right;
      outline: 1px dashed red;
      width: 300px;
      height: 370px;
}
.main-shortinfo-company .main-shortinfo-company-font2 {
      padding-bottom: 38px;
      height: 36px;
}
.main-shortinfo-btn {
      float: left;
      list-style-type: none;
      text-decoration: none;
      color: #ffffff;
      background-color: #ee3643;
      width: 253px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      font-weight: normal;
      font-family: "Cuprum" Regular;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      border-radius: 2px;
}
.main-shortinfo-company li {
      list-style-type: none;

}
.main-shortinfo-company li::before {
      content: "";
      background-color: red;
      width: 25px;
      height: 2px;
      display: inline-block;
      margin-bottom: 4px;
      margin-right: 10px;
}
.main-shortinfo-contacts-font1 {
      width: 300px;
      padding-bottom: 39px;
}
.main-shortinfo-contacts-font2 {
      width: 180px;
      padding-bottom: 39px;
}
.main-shortinfo-contacts-mail {
      float:left;
      list-style-type: none;
      text-decoration: none;
      color: #ffffff;
      background-color: #ee3643;
      width: 300px;
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: center;
      font-weight: normal;
      font-family: "Cuprum" Regular;
      font-size: 14px;
      line-height: 18px;
      text-transform: uppercase;
      border-radius: 2px;
      margin-top: 20px;
}
.main-shortinfo-company-font1,
.main-shortinfo-company-font2 {
      padding-bottom: 39px;
}
